<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <!-- main -->
    <bean id="applicationPane" class="com.zh.coherence.viewer.ApplicationPane"/>

    <bean id="resourceManager" class="com.zh.coherence.viewer.ResourceManager">
        <property name="applicationPane" ref="applicationPane"/>
        <property name="toolManager" ref="toolManager"/>
        <property name="configContainer" ref="configContainer"/>
    </bean>

    <!-- Viewers -->
    <bean id="stringViewer" class="com.zh.coherence.viewer.tools.query.user.TextUserViewer">
        <property name="name" value="Show toString"/>
        <property name="target" value="FRAME"/>
        <property name="icon">
            <bean class="com.zh.coherence.viewer.utils.icons.IconLoader">
                <property name="path" value="icons/text-icon.png"/>
            </bean>
        </property>
    </bean>

    <bean id="objectExplorer" class="com.zh.coherence.viewer.tools.query.user.ObjectExplorerViewer">
        <property name="name" value="Object Explorer"/>
        <property name="target" value="FRAME"/>
        <property name="icon">
            <bean class="com.zh.coherence.viewer.utils.icons.IconLoader">
                <property name="path" value="icons/explorer.png"/>
            </bean>
        </property>
    </bean>

    <bean id="hexViewer" class="com.zh.coherence.viewer.tools.query.user.HexPanel">
        <property name="name" value="Hex viewer"/>
        <property name="target" value="FRAME"/>
        <property name="icon">
            <bean class="com.zh.coherence.viewer.utils.icons.IconLoader">
                <property name="path" value="icons/document-binary.png"/>
            </bean>
        </property>
    </bean>

    <!-- Tools -->
    <bean id="viewerMenuBuilder" class="com.zh.coherence.viewer.tableview.RightButtonMenuBuilder">
        <property name="applicationPane" ref="applicationPane"/>
    </bean>

    <!--<bean id="queryEngine" class="com.zh.coherence.viewer.tools.query.engine.ZhQueryEngine"/>-->

    <bean id="queryEngine" class="com.zh.coherence.viewer.tools.query.engine.OracleCoherenceQueryEngine"/>

    <bean id="queryTool" class="com.zh.coherence.viewer.tools.query.QueryToolLauncher">
        <property name="name" value="Query"/>
        <property name="icon">
            <bean class="com.zh.coherence.viewer.utils.icons.IconLoader">
                <property name="path" value="icons/write.png"/>
            </bean>
        </property>
        <property name="viewers">
            <util:list value-type="com.zh.coherence.viewer.tableview.user.UserObjectViewer">
                <ref bean="stringViewer"/>
                <ref bean="objectExplorer"/>
                <ref bean="hexViewer"/>
            </util:list>
        </property>
        <property name="viewerMenuBuilder" ref="viewerMenuBuilder"/>
        <property name="queryEngine" ref="queryEngine"/>
    </bean>

    <bean id="backupTool" class="com.zh.coherence.viewer.tools.backup.BackupToolLauncher">
        <property name="name" value="Backup/Restore"/>
        <property name="icon">
            <bean class="com.zh.coherence.viewer.utils.icons.IconLoader">
                <property name="path" value="icons/camera.png"/>
            </bean>
        </property>
    </bean>

    <bean id="statisticTool" class="com.zh.coherence.viewer.tools.statistic.JmxStatisticToolLauncher">
        <property name="name" value="JMX Statistic"/>
        <property name="icon">
            <bean class="com.zh.coherence.viewer.utils.icons.IconLoader">
                <property name="path" value="icons/chart-up.png"/>
            </bean>
        </property>
    </bean>

    <bean id="clusterReportTool" class="com.zh.coherence.viewer.tools.report.jmx.cluster.ClusterReportToolLauncher">
        <property name="name" value="JMX Statistic"/>
        <property name="icon">
            <bean class="com.zh.coherence.viewer.utils.icons.IconLoader">
                <property name="path" value="icons/cluster.png"/>
            </bean>
        </property>
    </bean>

    <bean id="toolManager" class="com.zh.coherence.viewer.tools.ToolManager">
        <property name="applicationPane" ref="applicationPane"/>
        <property name="launchers">
            <util:list value-type="java.lang.Object">
                <ref bean="queryTool"/>
                <ref bean="backupTool"/>
                <bean class="com.zh.coherence.viewer.menubar.SubMenu">
                    <property name="name" value="JMX Reports"/>
                    <property name="icon">
                        <bean class="com.zh.coherence.viewer.utils.icons.IconLoader">
                            <property name="path" value="icons/chart-up.png"/>
                        </bean>
                    </property>
                    <property name="child">
                        <util:list value-type="java.lang.Object">
                            <ref bean="statisticTool"/>
                            <ref bean="clusterReportTool"/>
                        </util:list>
                    </property>
                </bean>
            </util:list>
        </property>
    </bean>

    <!-- ********************* CONFIG *************************************************** -->

    <bean id="objectExplorerConfig" class="com.zh.coherence.viewer.objectexplorer.config.OEConfigPanel">
        <property name="configName" value="Object Explorer"/>
    </bean>

    <bean id="tableConfig" class="com.zh.coherence.viewer.tableview.config.TableViewConfig">
        <property name="configName" value="Table View"/>
    </bean>

    <bean id="coherenceQueryConfig" class="com.zh.coherence.viewer.tools.query.config.CoherenceQueryConfigPanel">
        <property name="configName" value="Coherence Query"/>
        <property name="children">
            <util:list value-type="com.zh.coherence.viewer.config.ConfigPanel">
                <ref bean="tableConfig"/>
            </util:list>
        </property>
    </bean>

    <bean id="jmxReportConfig" class="com.zh.coherence.viewer.tools.statistic.config.JMXReportConfigPanel">
        <property name="configName" value="JMX Statistic Config"/>
    </bean>

    <!-- Add your config panel here -->

    <bean id="configContainer" class="com.zh.coherence.viewer.config.ConfigContainer">
        <property name="panels">
            <util:list value-type="com.zh.coherence.viewer.config.ConfigPanel">
                <ref bean="objectExplorerConfig"/>
                <ref bean="jmxReportConfig"/>
                <!--<ref bean="coherenceQueryConfig"/>-->

                <!-- register your config panel here -->
            </util:list>
        </property>
    </bean>

</beans>
